:root {
  --background-gradient: radial-gradient(92.73% 100% at 50% 0%, #000 40.5%, #7C3AED 63.5%, #9A69EF 78.5%, #D7C7F3 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--background-gradient);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

