.run-test-container{
  position: absolute;
  z-index: 10;
  right: 0;
  justify-content: right;
  margin: .5rem 1rem;
}

.run-button, .test-button{
  background-color: #1C111B;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  margin: 0 .5rem;
}

.run-button:hover, .test-button:hover{
  background-color: grey;
}

.output-example{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.example-content-container{
  width: 100%;
  text-align: left;
}

.example-terminal, .example-content{
  margin-left: 1rem;
  font-weight: bold;
}

.example-input{
  margin-top: .5rem;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  width: 100%;
}
